// Font imports
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

// Colors
$bg: hsl(216, 12%, 8%);
$star-bg: hsl(213, 19%, 18%);
$number-bg: hsl(216, 12%, 54%);
$btn-bg: hsl(217, 12%, 63%);
$orange: hsl(25, 97%, 53%);
$title-color: hsl(0, 0%, 100%);
$txt-color: hsl(217, 12%, 63%);

// Typography
$body-font-size: 15px;
$body-font-family: "Nunito Sans", sans-serif;
$body-font-weight-regular: 400;
$body-font-weight-bold: 700;

// Screen sizes
$mobile: 375px;
$desktop: 1440px;
